.eachEntry{
  display: flex;
  flex-direction: row;
  background-color: rgb(179, 139, 206);
  justify-content: space-around;
  padding: 1em;
}
.dateFormat{
  width: 25%;
  background-color: blueviolet;
  height: 3em;
  border-radius: 10px;
  margin-top: 2em;
  padding: 1em;
  color: antiquewhite;

}
.activityStyle{
  margin-top: 1em;
}
.stepsStyle{
  width: 25%;
  background-color: rgb(66, 49, 82);
  height: 3em;
  border-radius: 10px;
  margin-top: 2em;
  padding: 1em;
  color: antiquewhite;
  text-align: center;
  font-size: 1em;
}